<div class="container">
    <div class="row py-2">
        <div class="col-12 text-right py-2">
            <button class="btn btn-primary" (click)="manageSlots()">Manage Slots</button>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-12 text-left py-2">
            <h5>List of Patients to consult for today</h5>
        </div>
    </div>
</div>
<div class="container shadow accountsummary">   
    
    <div id="products" class="row view-group pt-4">
        <div class="item col-xs-4 col-lg-4 list-group-item" *ngIf="patientDeatils?.length == 0 ">
            <div class="thumbnail card p-1 text-center">
                Patients not booked today
                </div>
        </div>
       
        <div class="item col-xs-4 col-lg-4 list-group-item" *ngFor="let patient of patientDeatils">
            <div class="thumbnail card p-1">
                <div class="img-event">
                    <img class="group list-group-image img-fluid" src="https://ui-avatars.com/api/?name={{patient.patientName}}=28a745" alt="" />
                </div>
                <div class="caption card-body p-2">
                    <div class="row patientinfo">
                        <div class="col-4">
                            <h6 class="group card-title inner list-group-item-heading">
                                {{patient.patientName}}</h6>
                        </div>
                        <div class="col-4">
                            <p class="group inner list-group-item-text">
                                {{patient.patientContact}} </p>
                        </div>
                        <div class="col-4">
                            <p class="group inner list-group-item-text">
                                {{patient.slotName}}</p>
                        </div>
                    </div>
                </div>
                <div class="img-event float-right bg-info px">
                   <p>Px</p>
                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog header="Manage Your Slots" [(visible)]="display" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="row">
        <div class="col-4 text-center slotlist" *ngFor="let slot of slots" [ngClass]="slot.status">
            <p class="m-2 p-2 border slot" (click)="slot.availablity = !slot.availablity;"
             [ngClass]="{
             'border-success bg-success' :slot.availablity,
              'border-secondary bg-secondary' : !slot.availablity
              }">{{slot.slotName}}</p>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-12">
           <p><span class="border border-success bg-success text-white px-1 mx-1">Available</span>          
            <span class="border border-secondary bg-secondary text-white  px-1 mx-1">Not Available</span>
            <span class="border border-info bg-info text-white  px-1 mx-1">Booked</span></p>
           <br>
        </div>
    </div>

        <p-footer>
            <button class="btn btn-primary" (click)="makeAvailable()">Make me Avaliable</button>         
        </p-footer>
</p-dialog>
<app-loader [loader]="loader"></app-loader>
<app-alert [sharedAlert]="http.showAlert" *ngIf="http.showAlert?.modalShow"></app-alert>